[2015-01-20 18:13] nilskp opened #44 "Not 64-bit on Win?"
Just downloaded "64 bit Windows 0.5.6 Installer", but it wants to install into "Program Files (x86)", which tells me it's either not 64-bit or is somehow picking the wrong folder.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7904449-not-64-bit-on-win?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=git

[2015-01-20 18:22] topilski commented on #44
Hello, no now we support only 64 bit version, i think it is cpack issue. Please check workflow FastoRedis on your machine.

[2015-01-20 19:47] topilski commented on #44
Fixed in rev #b4acae08486368964cdd95c69e9554943d2f85b3

[2015-01-26 15:41] topilski commented on #44
Hello @nilskp, we published new release of FastoRedis, please check it if everything works correctly close please your issue, thanks. If you will find something else tell us.

[2015-01-26 18:06] nilskp commented on #44
@topilski
I tried `fastoredis-0.6.0-x86_64.exe` and it appears to pick `Program Files` now. I didn't install it however.

Instead I also downloaded `fastoredis-0.6.0-x86_64.zip`, but that appears to have no executable.

[2015-02-06 10:00] topilski opened #46 "Retina display support on Mac OS"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8341282-retina-display-support-on-mac-os?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github).

[2015-02-06 10:22] topilski opened #47 "Memcached in place value update"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8341741-memcached-in-place-value-update?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github).
<

[2015-02-06 10:22] topilski opened #48 "Redis delete keys from explorer tree"
<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/8341752-redis-delete-keys-from-explorer-tree?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)

[2015-02-10 08:38] topilski commented on #48
Implemented in rev 1ceee8e34c6ea67c5311a9f7011730493a7d0b85

[2015-02-10 08:39] #48 closed

[2015-02-14 14:13] badboy opened #49 "Don't use `KEYS *`, switch to `SCAN *` if possible"
I just wanted to try fastoredis, but it already fails with a small instance (~20Mb of data).
The main window is completely unresponsive.

This is probably largely due to the use of `KEYS *` (https://github.com/fasto/fastoredis//blob/master/src/core/redis/redis_driver.cpp#L39), which is one of the most expensive commands in Redis. It's blocking and _always_ needs to scan the whole database.
An alte

[2015-02-14 17:35] topilski commented on #49
Hello @badboy, thank you for issue, i didn't test FastoRedis on big database, so how can i understand i must execute 'scan' command in a loop while server not return 0. And the main question is how present this functionaliti to users, now it is simply load content. @badboy, how do you think we can make more options where user may choose how much keys he wants and what patterns for selection to use

[2015-02-20 10:24] topilski opened #50 "Test button in connection settings"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8739700-test-button-in-connection-settings?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github).
</

[2015-02-23 18:17] nilskp opened #51 "Still doesn't work"
I just tried 0.6.2 and I cannot see any data. I'm using the zip Win x64 version.

![image](https://cloud.githubusercontent.com/assets/74843/6333825/da24df02-bb55-11e4-940e-eb0669a7a5c6.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8838804-still-doesn-t-work?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm

[2015-02-23 18:24] topilski commented on #51
Hello @nilskp, please execute "Set default", and after that "Load content of database".

[2015-02-23 18:44] nilskp commented on #51
Ok, that brought me a step further. But now if I try to view values, I get WRONGTYPE.

Generally, I feel like there's way too much right-clicking needed to make this GUI fluid. E.g. even clicking a key does nothing. I still have to right-click then select "Value". It should be possible to do the most basic stuff by just clicking through.

[2015-02-23 19:00] topilski commented on #51
@nilskp what you mean WRONGTYPE? If not hard for you please make screanshoot for this bug. Your solution very interesting, it will be implemented in next releases.

[2015-02-23 20:23] nilskp commented on #51
@topilski

![image](https://cloud.githubusercontent.com/assets/74843/6336322/64dbd0cc-bb67-11e4-98ee-517efbcde218.png)

[2015-02-23 20:38] nilskp commented on #51
Or this view:

![image](https://cloud.githubusercontent.com/assets/74843/6336638/9520c2fe-bb69-11e4-87a5-512d1fff05f3.png)

[2015-02-24 18:07] topilski commented on #50
FIxed

[2015-02-24 18:08] #50 closed

[2015-02-28 12:23] topilski commented on #51
Hello @nilskp, we released 0.7.0 version please try to reproduce this bug again.

[2015-02-28 12:24] topilski commented on #49
@badboy in 0.7.0 version you can try new behavior, wait your opinion.

[2015-02-28 12:48] badboy commented on #49
Seems to work much better now.

[2015-02-28 12:48] #49 closed

[2015-02-28 17:41] topilski commented on #44
@nilskp  please check this issue, and close if fixed.

[2015-03-02 14:57] #44 closed

[2015-03-02 15:05] #51 closed

[2015-05-10 05:45] YuryGamzyuk opened #53 "What features plan?"
Hello,I have some questions:
Is it your plan to add support of next features:
1. Standard console?
2. JSON visibility?
3. Import Export Database?
4. Filter keys?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14005876-what-features-plan?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We acc

[2015-07-06 04:30] topilski opened #54 "Ssdb auth command"
for ssdb with auth, "auth" command is not supported

Not supported command: auth

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23767393-ssdb-auth-command?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm

[2015-08-23 08:51] itamarhaber opened #56 "Package installation fails on Ubuntu 14"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26092280-package-installation-fails-on-ubuntu-14?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_sour

[2015-08-23 11:17] topilski commented on #56
Good day, thank you for this issue fix of issue you can see here: https://github.com/fastogt/fastonosql/commit/dfd45a8b9fcbdfe4a369a7385c9035bc3ab99c85 we replace all 0.7.6 version linux install packages, please try new installation and if installation will successful please close this issue, in 0.7.7 version issue will be added into changelog.
Sorry for this bug.

[2015-08-28 14:22] topilski commented on #54
Fixed in 0.2.6 version FastoNoSQL.

[2015-08-28 14:22] #54 closed

[2015-09-09 10:24] Kapil103 opened #57 "Not able to view Graphical History Chart on Windows"
Hi All,

I just downloaded latest version for windows from http://fastoredis.com/download_windows.html

I enabled logging from connection dialog window but i am not able to see anything in history.

Can anyone help me ? Waiting for the response.

Regards,
Kapil Akhia

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26554391-not-able-t

[2015-09-09 10:25] Kapil103 commented on #57
![redis](https://cloud.githubusercontent.com/assets/6072388/9759516/37d253fe-570b-11e5-9a13-ada410543883.png)

[2015-09-09 10:30] topilski commented on #57
Good day, thank you for issue try to reproduce, seems not working now!

[2015-09-09 10:44] Kapil103 commented on #57
Thanks for reply,
please do let me know once you resolve it.

[2015-09-09 10:59] topilski commented on #57
I found where we have bug, will be fixed if you want i can send you new build. And now history chart interval 60 seconds.

[2015-09-09 11:08] topilski commented on #57
Fix you can find here: https://github.com/fastogt/fastonosql/commit/82609af91664c887b683da2fb744bc56380ca886

[2015-09-09 11:28] Kapil103 commented on #57
can i get latest exe file for windows with this resolved ?

[2015-09-09 11:40] topilski commented on #57
Yes of course, please specify your email.

[2015-09-09 11:44] Kapil103 commented on #57
my email id is kapil.akhia@gmail.com

Thanks,
Kapil Akhia

[2015-11-14 03:50] #57 closed

[2015-11-14 03:50] #56 closed

[2015-12-30 20:57] shouah opened #58 "Edit existing connection settings doesn't show existing parameter values"
On Windows platform, when I edit an existing Redis connection the "Connection Settings" dialog box retains the correct connection name text but the connection parameters always show up as "-h 127.0.0.1 -p 6379 -d \n -r 1" instead of showing up the existing text values

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29491770-edit-exis

[2015-12-30 21:02] shouah opened #59 "Redis cluster discovery button doesn't work with protected Redis configuration"
Using latest FastoRedis 0.7.9.0, when I add Redis Cluster connection and click on the "Discovery" button this fails with "Connection state: NOAUTH Authentication required" error. This happens even if I specify the "-a XXXXXX" password parameter to the connection (note that the "Test" button succeeds but then it looks like it only does a simple TCP connection check).

<bountysource-plugin>
---
Want

[2015-12-31 04:41] topilski commented on #58
Good day @shouah, i try to reproduce your case, but in my environment all worked as properly, can you explain in more detail this issue? Did it happen in cluster connection dialog? Also if it possible attach image with bug, thank you!
![rconnections](https://cloud.githubusercontent.com/assets/4686379/12061204/31a4ce2e-af91-11e5-935a-7f2151e918ab.png)

[2015-12-31 04:48] topilski commented on #59
Yes if you clicked test button you check only availability of redis server, but when you click Discovery application try to execute "CLUSTER NODES" commands and if you doesn't specify you credential this command will be failed. If your pass right credential Discovery must work as needed, it is a bug will be fixed, thank you!

[2015-12-31 08:29] topilski commented on #58
I found this and fix bug solution you can find here: https://github.com/fastogt/fastonosql/commit/0cbfd04b0a30b18105a35314e42aa62918a5f203 , @shouah thank you for using FastoRedis!

[2015-12-31 08:29] #58 closed

[2015-12-31 08:30] topilski commented on #59
Fixed in commit https://github.com/fastogt/fastonosql/commit/0cbfd04b0a30b18105a35314e42aa62918a5f203 , will be released after new year!

[2015-12-31 08:30] #59 closed

[2016-01-07 05:51] leiguorui opened #60 "How to uninstall?"
I have installed fastoredis on my ubuntu 15. I want to remove it now. How to do it, please?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29658789-how-to-uninstall?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2016-01-07 06:00] topilski commented on #60
Good day, apt-get remove fastoredis or dpkg -r fastoredis

[2016-01-08 02:33] leiguorui commented on #60
Fine, it works. Thinks!

[2016-01-08 03:58] topilski commented on #60
you are welcome!

[2016-01-08 03:58] #60 closed

[2016-01-12 00:09] shouah opened #61 "Support for Redis Cluster protected by master passcode?"
I'm using FastoRedis 0.8.0.0 and it doesn't seem function properly when I try to write a key while connected to a multi-master Redis v3.0.6 Cluster protected by passcode.
- Steps to reproduce the issue:
  1) Configure a connection to any of the Redis master instance using the "-a [passcode]" and "-c" option
  2) Open the connection
  3) Create a sample key with a string value
  4) the result windo

[2016-01-12 03:48] topilski commented on #61
@shouah  thank you for using FastoRedis, it is a very interesting issue, i try to fix it.

[2016-07-04 14:20] Trane9991 opened #62 "Crash application on running "Discovery" under Sentinel Connection"
Hello,
FastoRedis application crashes on Windows x64 when creating Sentinel Connection and pushing "Discovery" button.

Please ask for details that I can provide for you.

Regards, Taras.

[2016-07-05 08:59] #62 closed

[2016-08-18 10:49] thomast-joy opened #63 "Configure Amazone memcached in fastoredis"
Hi Team ,

How can i configure fastoredis to monitor memcached in Amazon. I have tried, but i could see only redis option, please do needfull

Thanks
Thomas
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37056297-configure-amazone-memcached-in-fastoredis?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_sourc

[2016-08-18 12:28] topilski commented on #63
Good day @thomast-joy , for Memcached please use FastNoSQL. Command line can be something like this: -h <your host> -p <your port> -d \n -ns : .

[2016-08-18 12:54] thomast-joy commented on #63
Thank you so much alexandr

Good day to you too

On 18 August 2016 at 13:29, Alexandr <notifications@github.com> wrote:

--

Application Support Analyst

iCasework Ltd

First Floor, 2 Kimberly Road, London NW6 7SG

Tel:  +44 (0)20 3053 6102 <%2B44%20%280%2920%203053%206114>

Email: thomas.joy@icasework.com

http://www.usefulfeedback.com

http://www.managemyrequests.com
http://www.icasework.com

[2016-08-18 13:15] topilski commented on #63
Thank you, yes after connection select db and press load content of db in explorer tree.

[2016-08-18 13:42] thomast-joy commented on #63
Alex, I am getting this error, attaching a screenshots

Thanks
Thomas
![memerror](https://cloud.githubusercontent.com/assets/21055538/17775811/e6476cda-6551-11e6-8fbf-aa28640dd03d.png)

[2016-08-18 14:12] topilski commented on #63
What about right click on key and "Value" menu item?

[2016-08-18 14:20] thomast-joy commented on #63
Thats giving the erroe "Get function error:NOT FOUND"

[2016-08-18 14:23] topilski commented on #63
I will try to reproduce it, thanks!

[2016-08-18 14:26] thomast-joy commented on #63
Thank you Alex

[2016-08-19 05:44] topilski commented on #63
Hi @thomast-joy , not reproduced. How you added keys? Which memcached server version you use?

[2016-08-19 10:41] thomast-joy commented on #63
good morning

Memcached version is 1.4.24.

[2016-08-19 11:19] topilski commented on #63
How you added keys?

[2016-08-19 11:36] thomast-joy commented on #63
We have Configuration as bellow

    Manager className="de.javakaffee.web.msm.MemcachedBackupSessionManager"
     memcachedNodes="myip:port"
     storageKeyPrefix="static:<companyname>"               sessionAttributeFilter="^((?!^authorityDropdown$|^libraryLinks|^SystemParametersRetrieved$|^Pref|^LDAP|^TreeMenu|^TreeDropdown|serviceTree$|^CustomerAtts$).)*$" requestUriIgnorePattern=".*\.(ico|png|g

[2016-09-20 02:16] GrandKai opened #64 "how to use"
can not find any connection to redis config

[2016-09-20 02:29] #64 closed

[2016-11-20 09:06] #53 closed

[2016-11-25 20:30] aftabnaveed opened #65 "Load Databases - Amazon Elastic Cache - Redis"
When trying to Load Databases from Amazon Elastic Cache I get this error

07:18:33.118: ERR unknown command 'CONFIG'

Amazon Elastic Cache restricts you to execute the config command, is there any workaround to bypass that and just load the database you may want to ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39543293-load-datab

[2016-11-26 06:18] topilski commented on #65
Hi @aftabnaveed , yes it will be implemented, thank you for good suggestion!

[2016-11-30 13:35] #47 closed

[2016-12-03 07:18] topilski commented on #65
Implemented in 1.2.0 version, please download it and if work as needed close this issue, thx!

[2016-12-06 23:27] aftabnaveed commented on #65
It works now! Thank you.

[2016-12-06 23:27] #65 closed

[2016-12-13 16:41] topilski commented on #63
Good day @thomast-joy , i think this bug was fixed, can you check it? please download last FastoNoSQL version

[2016-12-14 15:46] #63 closed

[2016-12-15 11:30] skjadhav282 opened #66 "(History file not found ) . I have specified log directory . Still not getting graphical view of redis performance."
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/40093319-history-file-not-found-i-have-specified-log-directory-still-not-getting-graphical-view-of-redis-performance?utm_campaign=plugin&utm_content=tracker%2F395976&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=pl

[2016-12-15 11:48] topilski commented on #66
Hi, do you check logging options in connection?

[2016-12-16 05:38] skjadhav282 commented on #66
yes . i did logging option Enabled. Thanks for that

[2016-12-16 05:40] skjadhav282 commented on #66
but now whenever i m trying to view history and change parameters. it says not responding.
what should i do now?
is fasto redis is not stable on windows 10?

[2016-12-16 06:06] topilski commented on #66
Now should work! this is a bug.

[2016-12-16 06:07] topilski commented on #66
Which parameters was selected?

[2016-12-16 06:18] skjadhav282 commented on #66
Actually it is not allowing me to select any option in that window.
i want to view stats graph. Abruptly it shows not responding and shuts down

[2016-12-16 06:19] topilski commented on #66
Do you have files in C:\Users\${user}\.config\FastoRedis ? extension .red

[2016-12-16 06:23] skjadhav282 commented on #66
![bug1](https://cloud.githubusercontent.com/assets/20432056/21253654/487c0b3a-c386-11e6-810e-d54078249d06.png)

[2016-12-16 06:24] skjadhav282 commented on #66
![bug2](https://cloud.githubusercontent.com/assets/20432056/21253667/5f493f90-c386-11e6-882c-4dc1c838c783.png)

[2016-12-16 06:26] skjadhav282 commented on #66
I have installed it in D drive.
and i have conf.ini file C:/users/config/fastoredis

[2016-12-16 06:28] topilski commented on #66
![image](https://cloud.githubusercontent.com/assets/4686379/21253746/e92cba4e-c371-11e6-8ec8-a4f0e796c3fc.png)
.red file?

[2016-12-16 06:28] topilski commented on #66
in preferences history folder

[2016-12-16 06:32] skjadhav282 commented on #66
![des](https://cloud.githubusercontent.com/assets/20432056/21253825/5edcb1da-c387-11e6-94a8-87cebddeb4ff.png)

[2016-12-16 06:33] skjadhav282 commented on #66
I do not have that .red file .What is its use in the application ?

[2016-12-16 06:34] topilski commented on #66
This file is dump of your redis history, according this file drawing graphics.

[2016-12-16 06:34] topilski commented on #66
Can you show me your fastoredis.log

[2016-12-16 06:35] topilski commented on #66
Placed in C:\Users\${user}

[2016-12-16 06:37] skjadhav282 commented on #66
09:16:35.901 FastoRedis [INFO] Logger inited
10:35:01.598 FastoRedis [WARNING] Interrupted exec.
10:35:01.626 FastoRedis [ERROR] History file not found
10:35:10.833 FastoRedis [ERROR] History file not found
10:56:01.499 FastoRedis [ERROR] ERR This instance has cluster support disabled
11:01:01.035 FastoRedis [CRITICAL] ../../src/core/command/command.h:44 Check failed: 0
11:01:20.838 FastoRedis [IN

[2016-12-16 06:40] topilski commented on #66
Thank you for log, what folder specified in preferences for logging?
![image](https://cloud.githubusercontent.com/assets/4686379/21254021/a4ae7554-c373-11e6-993f-b665e73fd3d7.png)

[2016-12-16 06:42] skjadhav282 commented on #66
Yes , i have found my .red file in D: drive should i send it to you

[2016-12-16 06:44] topilski commented on #66
Sure it will be perfectly!

[2016-12-16 06:53] skjadhav282 commented on #66
I have mailed it to you.

[2016-12-16 06:55] topilski commented on #66
thx

[2016-12-16 06:56] skjadhav282 commented on #66
Please kindly fix this solution as soon as possible

[2016-12-16 06:56] topilski commented on #66
44mb how long worked FastoRedis?

[2016-12-16 06:56] topilski commented on #66
Which interval you entered in settings?

[2016-12-16 06:58] skjadhav282 commented on #66
How much value can we enter in front of 'Logging enabled'

[2016-12-16 06:58] skjadhav282 commented on #66
I have entered the value as 10

[2016-12-16 06:59] topilski commented on #66
Every 10 msec executed INFO command

[2016-12-16 06:59] skjadhav282 commented on #66
ok so what is the proper value one has to enter

[2016-12-16 07:00] topilski commented on #66
1000 msec

[2016-12-16 07:01] skjadhav282 commented on #66
ok i will try this now and if the application crashes again .I will report it to you.Thanks in advance.

[2016-12-16 07:01] topilski commented on #66
Previously remove old red file or rename connection

[2016-12-16 07:05] skjadhav282 commented on #66
Thank you so much for your help.It's working fine now.

[2016-12-16 07:06] skjadhav282 commented on #66
Can you also help me in  reading the graph which i have got ?

[2016-12-16 07:08] skjadhav282 commented on #66
![bug3](https://cloud.githubusercontent.com/assets/20432056/21254625/81fd0138-c38c-11e6-9375-15921351cb88.png)

[2016-12-16 07:09] topilski commented on #66
Sure, please execute info command from context menu in serve menu side. We render only integer/doubles values.

[2016-12-16 07:14] skjadhav282 commented on #66
Thanks

[2016-12-16 07:15] topilski commented on #66
You are welcome!

[2016-12-16 07:15] #66 closed

[2017-02-06 20:39] matiasherranz commented on #60
What about for macOS Sierra?

[2017-02-07 00:56] cwei-bgl opened #67 "Crash on MacOS"
Process:               FastoRedis [19768]
Path:                  /Applications/FastoRedis.app/Contents/MacOS/FastoRedis
Identifier:            FastoRedis
Version:               ??? (1.5.0.0)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           FastoRedis [19768]
User ID:               501

Date/Time:             2017-02-07 11:54:24.597 +1100
OS Version:

[2017-02-07 04:05] topilski commented on #60
Hi @matiasherranz , i think like in previous version move application to trash.

[2017-02-07 04:07] topilski commented on #67
Hi @cwei-bgl , can you describe how to reproduce?

[2017-02-07 13:37] matiasherranz commented on #60
@topilski Thanks for the answer. I tried to move it to trash from the Launchpad and didn't work, hence the question. I tried from the Applications folder and worked OK.

Thanks!

[2017-02-07 13:41] topilski commented on #60
you are welcome!

[2017-02-09 04:23] cwei-bgl commented on #67
@topilski, simple.
1. download.
2. start and it crashes straight away.

[2017-02-09 04:34] topilski commented on #67
Hi @cwei-bgl , can you show me a log file, which placed in home directory.

[2017-02-09 04:41] cwei-bgl commented on #67
11:52:56.528 FastoRedis [INFO] Logger inited
11:53:09.060 FastoRedis [INFO] Logger inited
11:53:14.080 FastoRedis [INFO] Logger inited
11:54:23.825 FastoRedis [INFO] Logger inited
11:56:47.709 FastoRedis [INFO] Logger inited
12:01:40.853 FastoRedis [INFO] Logger inited
12:02:29.693 FastoRedis [INFO] Logger inited
12:02:37.463 FastoRedis [INFO] Logger inited

[2017-02-09 04:45] topilski commented on #67
Thank you, also you can try previours version http://fastoredis.com/download_mac_os_x_p.html?platform=macos&filename=fastoredis-1.4.1-x86_64.dmg , waiting for your responce.

[2017-02-09 04:55] topilski commented on #67
According your stack trace, crashed here: FastoRedis 0x000000010b04d8a9 fastonosql::gui::MainWindow::versionAvailible(bool, QString const&) , also you can set flag auto_check_updates=true to false in conf.ini

[2017-02-12 13:14] atrauzzi opened #68 "Don't show "Check version" modal on every start"
![image](https://cloud.githubusercontent.com/assets/115199/22862362/b30f59fe-f0f2-11e6-9782-e228792307ec.png)

From a UX standpoint, it's just not necessary to present the information this way.  You only need to show a modal if there's a new version available.

[2017-02-12 13:15] atrauzzi opened #69 "Move web links into "Help" menu"
![image](https://cloud.githubusercontent.com/assets/115199/22862372/ed8a066a-f0f2-11e6-8d38-6345014314ff.png)

More general UX stuff. Toolbars are better off containing functionality pertaining to the task(s) at hand.

[2017-02-12 18:51] topilski commented on #68
Hi @atrauzzi , you can disable this window by checkout "check autoupdate" in settings.

[2017-02-12 18:53] topilski commented on #69
Hi @atrauzzi , which functionality you suggest instead of this buttons?

[2017-02-12 19:34] atrauzzi commented on #69
Either the bar can be removed, or you can put connection-related actions.

[2017-02-12 19:35] atrauzzi commented on #68
Yeah, but why are you doing it by default?  It's just a nuisance and 99% of people are either going to be annoyed by it or will turn it off.

I actually can't think of a reason why every single time you run an application it should show a modal.  It's just annoying and extremely bad UX.

[2017-02-13 00:31] cwei-bgl commented on #67
@topilski Thanks. I have switched to use another tool.

[2017-02-13 00:31] #67 closed

[2017-03-17 00:32] jeacott1 opened #70 "support SSL without tunnel"
Redis Desktop Manager has an option to use SSL protocol without the need for a tunnel, or keys.
This is super convenient. would be nice if fastoredis had the same option.

[2017-07-26 09:53] sajjad-naqvi-globant opened #71 "Bug: Crashes on windows if key doesn't exist"
I am running FastoRedis on Windows 7. If I try to GET any non-existing key, then the program exits without any warning message.

[2017-07-26 09:55] sajjad-naqvi-globant commented on #68
I want to enable auto-update, but still don't want to see the dialog, if my version is already up-to-date. It should show a dialog only if my installed version is out dated.

[2017-07-26 09:59] topilski commented on #68
@sajjad-naqvi-globant good suggestion, thx will be done.

[2017-07-26 10:02] topilski commented on #71
Hi @sajjad-naqvi-globant thank you for issue, try to reproduce and fix it.

[2017-07-26 10:04] topilski commented on #71
@sajjad-naqvi-globant do you execute GET command via console? or double click in explorer tree?

[2017-07-26 10:15] topilski commented on #71
Fixed, thank you!

[2017-07-26 10:15] #71 closed

[2017-07-26 10:17] topilski commented on #68
Dialog should appear only if version is outdated.

[2017-07-26 10:17] #68 closed

[2017-08-29 17:40] mrichman commented on #70
I can't use Fastoredis because it does not support SSL.

[2017-08-29 17:45] topilski commented on #70
I didn't have server with redis SSL for implementation, if you describe how i can create this server, i will implement SSL support.

[2017-08-29 17:51] mrichman commented on #70
@topilski you can spin one up in Microsoft Azure. SSL listens on port 6380.

[2017-08-29 18:47] topilski commented on #70
@mrichman thanx, will try.

[2017-09-02 17:04] fenshwey opened #72 "ERR wrong number of arguments for 'ttl' command"
It connects to redis fine (localhost not unixsocket), it loads up the database fine, loads up the keys fine. But when I click "get", it outputs ERR wrong number of arguments for 'ttl' command.

If i try get another key it outputs wrong number of arguments for type command, then back to ttl, then crashes.

In the command window it shows GET key:name:etc and I can not see a reference to ttl in the c

[2017-09-03 05:38] topilski commented on #72
Thank you for issue, will try to reproduce.

[2017-09-03 16:52] topilski commented on #72
Hi @fenshwey , can you find log file and show output here. fastoredis.log you can fine in home directory.

[2017-09-03 22:22] fenshwey commented on #72
Hi, I will check FastoNoSQL over the next day or so

**Here is the log file, this line has the "Check Failed"**
../../src/proxy/db/redis/driver.cpp:313 18:03:33.792 FastoRedis [CRITICAL] Check failed: array

**and this is the whole log**

17:45:15.731 FastoRedis [ERROR] ERR wrong number of arguments for 'ttl' command
../../src/core/db/redis/db_connection.cpp:825 17:45:23.315 FastoRedis [CRITICAL]

[2017-09-04 10:12] topilski commented on #72
Not reproduced, did you have binary keys in you redis instance?

[2017-09-05 02:33] fenshwey commented on #72
Yes. It is actually a partial binary that I pass to redis. It is (login:)++(sha256(email)). The sha256 function returning a binary.

I can see fastorredis, and my app display it differently below is either 1@1.com, or 2@2.com nothing personal.

1: how fastorredis shows it.
\x6C\x6F\x67\x69\x6E\x3A\x14\xAE\x3D\xD7\x33\x49\x1C\x76\xBD\x64\xB9\x42\xA9\x9A\xCD\x49\xB9\xF2\xD7\xAC\x7F\x1E\x74\xB5\x16\x

[2017-09-05 03:48] topilski commented on #72
Very interesting case, thank you, will try to add key like you have.

[2017-09-05 04:30] fenshwey commented on #72
I did some testing myself and can confirm it is as you guessed the binary keyname causing the problem.

In redis-cli i added keys to 1. I loaded up fastorredis, selected 1, didn't even attempt to load 0, and it all seemed to work just fine. Keys loaded up, I could edit them etc.

It's my own fault, i knew when I did that keyname it was funky lol.

[2017-09-12 11:52] topilski commented on #70
Hi @mrichman, @jeacott1, i started implementation, you can try how it works in next release, but with limitation (without private keys and certs). Don't forgot input the password(No AUTH error), when you will be create connection to Azure service.

[2017-09-21 11:28] arquio opened #73 "Cant save config and restore"
Fedora 26 x86_64

FastoRedis 1.7.0.0
Revision:98c42fa

and

FastoRedis 1.8.1.0
Revision:c776bee

[2017-09-21 11:30] topilski commented on #73
Hi, @arquio thank you for issue, will try to reproduce.

[2017-09-21 12:14] sallyx commented on #69
👍

[2017-09-21 12:16] topilski commented on #69
Hi @sallyx , you also think ti will be better move links into help menu?

[2017-09-21 12:23] sallyx commented on #69
Yes.

[2017-09-21 12:25] topilski commented on #69
Ok, will be done.

[2017-09-21 12:42] topilski commented on #69
Done.

[2017-09-21 12:42] #69 closed

[2017-09-28 12:30] topilski commented on #70
ping

[2017-10-02 04:29] #70 closed

[2017-10-13 10:37] arquio commented on #73
Same issue with fastoNosql.

[2017-10-13 10:48] topilski commented on #73
Hi @arquio , thank you for issue, i will try to fix, i promise you. I need to install Fedora, give me please 1 week.

[2017-10-14 11:22] Kerwin1202 opened #74 "decrement becomes self increment"
when i use command to decrement, but it become increment, you can see [http://img.zhanghuanglong.com//image/2017/10/14/20171014192214412069.gif](http://img.zhanghuanglong.com//image/2017/10/14/20171014192214412069.gif)

1. DECR
2. DECRBY

FastoRedis 1.8.6.0 windows

[2017-10-14 14:20] topilski commented on #74
Thank you will be fixed

[2017-10-14 14:45] topilski commented on #74
Fixed https://github.com/fastogt/fastonosql/commit/71bb1021e339565315c72d564066d92226c1572e

[2017-10-14 14:45] #74 closed

[2017-10-17 06:17] topilski opened #75 "Sentinel type"
Sentinel item in explorer tree not same as server.

[2017-10-17 06:17] topilski opened #76 "Cluster redirect console support"

[2017-10-20 09:16] topilski commented on #73
Hi @arquio , fixed in FastoRedis 1.8.7 version, you can test.

[2017-10-21 06:13] topilski commented on #73
ping

[2017-10-22 14:52] #73 closed

[2017-10-25 10:13] arquio commented on #73
Sorry, I was away.
I'm testing 1.8.8-1 and its all right.

Thanks a lot!!

[2017-10-25 10:14] topilski commented on #73
@arquio you are welcome!

[2017-11-26 23:30] akalongman opened #77 "Reason of forking fastonosql"
I am curious why you forked [fastonosql](https://github.com/fastogt/fastonosql) and which one we should use

[2017-11-27 01:19] topilski commented on #77
We started from FastoRedis which worked only with Redis database and then we understood that there are a lot of NoSQL databases which need our solution. For Redis better use FastoRedis because FastoRedis more lightweight than FastoNoSQL, but if you want access to some other DB please use FastoNoSQL. The differences between FastoRedis and FastoNoSQL only in count of databases.

[2017-11-27 08:19] #77 closed

[2017-12-07 11:20] shakenfr opened #78 "Available old download package for linux"
hello,
last version does'nt not work on RHEL7

[osadmin@localhost bin]$ ./FastoRedis --help
./FastoRedis: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by ./FastoRedis)
./FastoRedis: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by ./FastoRedis)
./FastoRedis: /lib64/libQt5Core.so.5: version `Qt_5.9' not found (required by ./FastoRedis)

Requires gcc4.9, ne

[2017-12-07 12:20] topilski commented on #78
Hi @shakenfr why you trying to start ./FastoRedis, please start fastonosql.sh script which placed near.

[2017-12-07 12:24] topilski commented on #78
It will be good to me see output of `ldd FastoRedis` command .

[2017-12-07 14:26] shakenfr commented on #78
hello,

here is the result of the ldd command. In fact version of libstdc++.so.6 includes CXXABI_1.3.7 and not CXXABI_1.3.8. Its due to the "old" lib included in RHEL7. Same it's gcc 4.8 and not 4.9. 4.9 is not available in the repos of RHEL7, not into the extras repo too :-(

I add the result of strings libstdc++.so.6 command at the end.
For me I suppose that Fastoredis last version has been comp

[2017-12-07 14:30] topilski commented on #78
Hi @shakenfr thank you fore reply, so solution can be 2.
1) You try to build FastoRedis from sources
2) You subscribe and will receive last stable FastoRedis build. (it takes 1 day, we need to create build machine for RHEL7 os)

[2017-12-07 14:38] shakenfr commented on #78
I will try 1.
For 2, it's not urgent, you can take your 1 day without problems

best
bruno

[2017-12-07 14:39] topilski commented on #78
Ok, thank you.

[2017-12-07 14:49] shakenfr commented on #78
for 1-)   i'm looking for sources without success, have you a link ?

[2017-12-07 14:50] topilski commented on #78
Save your time, subscribe please, sources you can find here: https://github.com/fastogt/fastonosql

[2017-12-17 14:34] rbeer opened #79 "OpenSource? How? Where?"
fastoredis.com says:

No it's not. Where is the code?

[2017-12-17 14:35] topilski commented on #79
Hi @rbeer , code you can find here https://github.com/fastogt/fastonosql .

[2017-12-18 18:09] TemaSM commented on #79
@topilski How about to upload source soon? Hope you will.
Thanks for software 😉

[2017-12-20 13:50] topilski commented on #46
Need to add this lines:
[code]
 into plist.

[2017-12-21 03:24] #46 closed

[2017-12-22 00:38] wongoo opened #80 "can't connect using ssh"
why ssh connection need public key? Only provide private key can't connect, while the RDM can connect using the same key.

[2017-12-22 03:42] topilski commented on #80
Yes your are right, need to add this ability thank you!

[2017-12-22 04:39] topilski commented on #80
Hi @wongoo , according libssh2 implementation https://github.com/libssh2/libssh2/blob/a68356418d503c0546bd475fb4e363954add1c84/src/userauth.c#L1457 if you specify public key it will be read from file if not will be generate from private part of key. If you interesting how it works.

[2017-12-22 05:21] topilski commented on #80
Hi @wongoo , also i'am interested in which os you using?

[2017-12-23 05:36] topilski commented on #80
Fixed: https://github.com/fastogt/fastonosql/commit/9b2334a841b4dd6299e59c7409ac09ba3a75d318

[2017-12-23 05:36] #80 closed

[2017-12-23 10:33] wongoo commented on #80
@topilski  macos, 10.13.2

[2017-12-23 10:49] topilski commented on #80
Thank you, i will test on Mac.

[2018-01-01 20:00] topilski commented on #80
Tested, you can try.

[2018-01-04 02:11] kgdngitfk opened #81 "NS separator"
we need define NS separator  by ourselves, the default : , []   are not enough ; thanks

[2018-01-04 03:18] topilski commented on #81
Hi @kgdngitfk , can you describe this issue?

[2018-01-20 08:35] topilski commented on #81
ping

[2018-01-20 08:35] #79 closed

[2018-01-20 08:36] #78 closed

[2018-01-20 08:53] #72 closed

[2018-01-22 08:35] #81 closed

[2018-01-22 08:35] #76 closed

[2018-01-22 08:36] topilski commented on #61
Hi @shouah , can you install last fastoredis app version and test may be this issue not actual any more?

[2018-01-23 05:44] #75 closed

[2018-02-13 04:24] #61 closed

[2018-02-21 09:04] kaerer opened #82 "TTL need to be displayed"
TTL should be shown some where for the key.

[2018-02-21 10:13] topilski commented on #82
Hi @kaerer , now you can see ttl in many places. For example press on key and select edit ttl. Or on db and select view db keys.

[2018-02-21 10:15] topilski commented on #82
Every key which have ttl value also marked have (!) icon, we handle ttl key better than everybody.  If ttl value expired we also delete key from tree without reloading.

[2018-03-10 10:12] mishelen opened #83 "How connect to Heroku Redis"
Im just have such url:
redis://h:j324jlfddsfls.......dfldlsf@ec320-323-323.compute-1.amazonaws.com:port

[2018-03-10 10:13] topilski commented on #83
Hi, i need to test Heroku

[2018-03-10 10:30] mishelen commented on #83
Solved))

[2018-03-10 10:30] topilski commented on #83
Please describe.

[2018-03-10 10:40] mishelen commented on #83
1. discard first part or url: `redis://h:`
2. next part is password. also you need to launch checkbox **Use AUTH** in connection window, and place password in next to it input
3. and accordingly set the host (`ec320-323-323.compute-1.amazonaws.com`) and port in inputs

[2018-03-10 10:40] #83 closed

[2018-03-10 10:41] topilski commented on #83
Cool, thank you for the solution!

[2018-03-14 11:13] #82 closed

[2018-04-13 22:15] cfroese opened #84 "SSH Tunnel and SSL are exclusive"
For the most part, this exclusion makes sense.  However, when use AWS ElastiCache Redis with in-transit encryption means connecting requires a SSH tunnel and then an SSL connection through that.

It would be nice if FastoRedis supported this.

[2018-04-14 04:39] topilski commented on #84
I need some server to test this connection. Where i can find it, may be you know?

[2018-04-14 07:41] topilski commented on #84
Hi @cfroese , why you think that EC2 need ssl connection? Here my settings:
![default](https://user-images.githubusercontent.com/4686379/38765768-351fa142-3fd0-11e8-92ec-c72ab1290e3a.png)
Where in database path: your cluster url
in ssh: your EC2 instance

for generate public key from pem i used: `ssh-keygen -f test.pem -y > test.pub`

[2018-04-14 14:41] topilski commented on #84
I unerstand you, thanks, will think how to implement it.

[2018-04-18 12:36] yashka713 opened #85 "Falls after input login and password"
<img width="425" alt="screen shot 2018-04-18 at 15 33 00" src="https://user-images.githubusercontent.com/15985355/38932114-f42ec112-431d-11e8-99ec-83a8ac3f7368.png">
I am trying to launch App, but I take this window.
I check my credentials - they are Ok. I can go to your site, but can not use App.
macOS High Sierra v. 10.13.4

[2018-04-18 12:40] topilski commented on #85
Hi, do you have internet connection?

[2018-04-18 12:41] yashka713 commented on #85
:)
I am writing here, of course yes)

[2018-04-18 12:45] topilski commented on #85
I restarted service, please try again.

[2018-04-18 12:49] yashka713 commented on #85
That's not help for me. Still the same.
Maybe I do something wrong?
Login - my email
Password - password from site
?
Maybe I should wait until something happens on server and I will can use it?
Do you see my session?

[2018-04-18 12:50] topilski commented on #85
I see that you registered, please input your email address and password

[2018-04-18 12:52] topilski commented on #85
Please use full email

[2018-04-18 12:56] yashka713 commented on #85
I use the full email address. I rebooted my laptop, but the problem remained

[2018-04-18 12:57] topilski commented on #85
Please try to connect to service via telnet fastoredis.com 5001 .

[2018-04-18 12:58] topilski commented on #85
Also via ping which ip returned?

[2018-04-18 13:00] topilski commented on #85
Which version of FastoRedis you using?

[2018-04-18 13:02] yashka713 commented on #85
@topilski how can I check the version?

[2018-04-18 13:03] yashka713 commented on #85
[code]
and
[code]

[2018-04-18 13:05] yashka713 commented on #85
app downloaded from site - 1.16.3 `.dmg` and `zip`

[2018-04-18 13:05] topilski commented on #85
You didn't see my port, but why? also please try `telnet fastonosql.com 5001` it is also our solution

[2018-04-18 13:07] yashka713 commented on #85
[code]

[2018-04-18 13:08] topilski commented on #85
May be you have some firewall permissions? It is very strange for me.

[2018-04-18 13:10] yashka713 commented on #85
Firewall turned `off`. I checked it.

[2018-04-18 13:14] topilski commented on #85
I need to think about it, for you i will build unlimited installer, and it will be placed in you profile page. It will be today, you need to wait 3 hour.

[2018-04-18 13:17] yashka713 commented on #85
I will wait, thx)

[2018-04-18 13:25] yashka713 commented on #85
There is not LAN on mac book)

[2018-04-18 13:27] topilski commented on #85
Oy sorry))

[2018-04-18 13:30] yashka713 commented on #85
@topilski there is a problem on my side, thx for help)
I change connection and now can connect to app.

[2018-04-18 13:31] topilski commented on #85
Please describe, what was the problem?

[2018-04-18 13:35] yashka713 commented on #85
I think, admins blocked some `ips` and your `ip` been there.

[2018-04-18 13:36] atopilski commented on #85
But you can login into site, 80/8080 port why 5001 not worked?

[2018-04-18 13:43] yashka713 commented on #85
Maybe you block my old `ip`?

[2018-04-18 13:45] topilski commented on #85
No i can't how to do this.

[2018-04-18 13:54] yashka713 commented on #85
I don't know too... Sorry. You can close Issue.

[2018-04-18 13:58] topilski commented on #85
ok, thank you @yashka713

[2018-04-18 13:58] #85 closed

[2018-05-07 01:12] xkcoding opened #86 "where your web-site gone?"
![image](https://user-images.githubusercontent.com/10429917/39680749-c11fe8c8-5169-11e8-95c1-c0de0e57409c.png)

[2018-05-07 02:59] topilski commented on #86
Hi @xkcoding , now worked. Idon't know why it happens 1 hour ago.

[2018-05-07 05:33] xkcoding commented on #86
still not working...@topilski

[2018-05-07 05:34] topilski commented on #86
Working, please try by ip 138.68.252.92 or fastonosql.com

[2018-05-07 05:37] topilski commented on #86
We have 2 sites, but it is very interesting why you can't see content.

[2018-05-07 05:40] topilski commented on #86
Also you can try port 8080.

[2018-05-07 06:01] topilski commented on #86
I fixed, thank you for notification.

[2018-05-07 08:10] xkcoding commented on #86
80 port is still not working, i use 8080 fix it, thank you !

[2018-05-07 08:12] #86 closed

[2018-05-07 08:14] topilski commented on #86
Thank you, for feedback, working for you!

[2018-05-07 08:17] topilski commented on #86
80 port still not working? i checked availability here: https://www.uptrends.com/tools/uptime , where you placed?

[2018-05-07 08:27] topilski commented on #86
Beijing - Shenzhen - Inner Mongolia - Heilongjiang Province - Yunnan Province -
This URL appears to be accessible from mainland China.

[2018-05-07 08:28] topilski commented on #86
I think this sites checked nginx side, but issue will be in node.js.

[2018-05-07 08:49] xkcoding commented on #86
https://fastonosql.com/
it works!!

[2018-05-07 12:27] topilski commented on #86
Hi @xkcoding , can you help me, please notify me when you can to enter into fastoredis.com website, i wanna to check logs.

[2018-05-08 00:57] xkcoding commented on #86
I‘m so sorry ... I went to a meeting then ... If you still want me to help you, please email me.
email: shenyangkai1994@gmail.com

[2018-07-27 07:45] terbach opened #87 "Its not possible to delet all my data in profile. I will do it!"

[2018-07-27 07:45] topilski commented on #87
Hi what you mean?

[2018-07-27 07:48] terbach commented on #87
I cannot delete my account at fastoredis webpage.

[2018-07-27 07:49] topilski commented on #87
We have delete button, in profile page.

[2018-07-27 07:49] topilski commented on #87
![default](https://user-images.githubusercontent.com/4686379/43308605-c5b4b862-918a-11e8-88f7-ecaf31afea6c.png)

[2018-07-27 07:51] terbach commented on #87
I have a free subscription and can't see a button. I only can change my name and password.

[2018-07-27 07:51] topilski commented on #87
please write me your email on website, i will check

[2018-07-27 07:55] topilski commented on #87
removed account

[2018-07-27 07:55] #87 closed, assigned to nobody

[2018-10-21 12:34] rickwargo opened #88 "Cannot save new value when a "record" with an offset greater than 257 is deleted for TYPE_ARRAY"
I can successfully delete the records in the interface (OSX), however, I received the following message when I press "Save changes" button:

The value does not get stored in redis.

Here are the commands; note the last command has 1220 records (most deleted).
[code]

[2018-10-21 14:50] topilski commented on #88
Hi @rickwargo , thank you for the issue will be fixed in next release

[2018-10-21 15:24] topilski commented on #88
Fixed here: https://github.com/fastogt/fastonosql_core/commit/757e97eb53c94bbb191502f75c551af4bc69a55f , tomorrow will be new release, thank you for the issue.

[2018-10-21 15:24] #88 closed, assigned to topilski

[2018-10-22 05:50] topilski commented on #88
Released please check.

[2018-10-22 12:24] rickwargo commented on #88
@topilski Thank you. That resolved the issue. I appreciate the quick turn around!

[2018-10-22 13:20] topilski commented on #88
Thank you @rickwargo , working for you!

[2018-12-01 19:11] david-freistrom opened #89 "Language settings has no effect"
Changing the language settings to 'system' has no effect and will be reset to 'english'.

FastoRedis 1.22.0.0
Revision:f9a2118

[2018-12-01 19:17] topilski commented on #89
Hey, system should be according of your system language, now we have translations :Russian, Frrance, English

[2018-12-01 19:21] david-freistrom commented on #89
Hey,

my system settings are these:
locale

LANG=de_DE.UTF-8
LC_CTYPE="de_DE.UTF-8"
LC_NUMERIC="de_DE.UTF-8"
LC_TIME="de_DE.UTF-8"
LC_COLLATE="de_DE.UTF-8"
LC_MONETARY="de_DE.UTF-8"
LC_MESSAGES="de_DE.UTF-8"
LC_PAPER="de_DE.UTF-8"
LC_NAME="de_DE.UTF-8"
LC_ADDRESS="de_DE.UTF-8"
LC_TELEPHONE="de_DE.UTF-8"
LC_MEASUREMENT="de_DE.UTF-8"
LC_IDENTIFICATION="de_DE.UTF-8"
LC_ALL=

What I expect is a german

[2018-12-01 19:24] topilski commented on #89
Ok, we didn't have german translation.

[2018-12-01 19:25] topilski commented on #89
This combobox using only for UI language.

[2018-12-13 15:32] ramlaxman opened #90 "Incompatible with Windows Redis Port"
https://github.com/tporadowski/redis/issues/31

While it works absolutely fine with [this ](https://github.com/MicrosoftArchive/redis/releases/tag/win-3.2.100) version.

[2018-12-13 15:34] topilski commented on #90
Hey @ramlaxman , thank you i will try to find where it happend.

[2018-12-23 21:42] rickwargo opened #91 "Not all keys showing in explorer tree"
After connecting to my Redis database (on AWS), I filter the keys using freqreg:2018122315* as a filter in "Load content of database", however, there is a key that does not show.

You can see in the screenshot it exists, and it did appear when I issued the KEYS command:

<img width="1271" alt="factoredis" src="https://user-images.githubusercontent.com/430137/50387731-b1a7b380-06d1-11e9-849d-3d51ac

[2018-12-24 03:45] topilski commented on #91
Hi @rickwargo , i will try to reproduce, thank you for the issue.

[2018-12-25 05:34] topilski commented on #91
Hi @rickwargo , i think i fixed this issue can you try new release to check it?

[2018-12-30 20:52] rickwargo commented on #91
Still having issues displaying all the keys. Below is another example. Note it says only (2) keys but there are really 6.
![image](https://user-images.githubusercontent.com/430137/50551165-c4c70000-0c4a-11e9-8f95-9d334b1b8625.png)

[2018-12-31 05:03] topilski commented on #91
I think i understand your issue, please load all keys 3000, because for tree we using scan command, but you check via KEYS. I think scan loaded only part of keys.

[2018-12-31 12:59] rickwargo commented on #91
That makes sense. The 1000 limit is confusing here as I would expect them all to appear, but they won't. I like the treeview display, however, I do not think it represents the data accurately unless all data are read.

What about recursively descending each branch to completion instead of grabbing the next N (1000) keys? You may end up in a scenario where N' read is either < N or N' > N, but at le

[2019-01-10 15:00] WillJonesMagic opened #92 "Deleting multiple keys UI"
When selecting and deleting multiple keys, the Mac version asks for confirmation before deleting every single key.
It would be far more user friendly (as well as less frustrating and more in keeping with various design guidelines and convention) to prompt for confirmation once when multiple keys are selected instead of multiple times.

[2019-01-11 05:03] topilski commented on #92
Hi @WillJonesMagic , it is a good idea, will be implemented in next release

[2019-01-11 05:06] topilski commented on #92
Also please try del keypress.

[2019-01-13 06:11] topilski commented on #92
Hi @WillJonesMagic , fixed please check in new version

[2019-01-18 09:17] black477000 opened #93 "I want to see what value is"
I want to use it to see the contents of value in redis. Which Views should be used?

[2019-01-18 09:19] topilski commented on #93
Hi @deng503693167 , i don't understand your question

[2019-01-18 09:29] black477000 commented on #93
It's okay. Sorry to interrupt

[2019-01-18 09:29] #93 closed, assigned to topilski

[2019-01-27 10:52] dahai2070 opened #94 "json string can't show with json, "cannot convert to 'Json' format!""
`{"@type":"com.mytx.pojo.Advertisement","amount":0.15D,"auctionEndDate":1548644400000,"auctionStartDate":1548561600000,"endDate":1548734400000,"id":"201901279380549626","myFile":{"id":"1547184459479325","status":2,"type":1,"uId":"147089748a194bd396976fd343b5e16c","updated":1548585820346,"url":"http://mytx.file.alimmdn.com/video/1547184459479325"},"oId":"201901277605065989","rId":"19b8e3c8e4234b5fb

[2019-01-27 11:15] topilski commented on #94
Hi, please use text format converters

[2019-01-27 11:16] topilski commented on #94
Invalid json, according this site: https://jsoneditoronline.org/

[2019-01-27 11:18] topilski commented on #94
0.15D it is invalid

[2019-01-27 11:27] dahai2070 commented on #94
谢谢你。

[2019-01-27 11:38] #94 closed, assigned to nobody

[2019-02-12 06:33] topilski commented on #84
Hi @cfroese , implemented in version 1.24, please check, thank you for the issue.

[2019-02-12 06:33] #84 closed

[2019-02-12 06:34] #92 closed, assigned to topilski

[2019-04-19 19:41] jjsainzc opened #95 "Don't have refresh"
And reload do not clean previous search

[2019-04-20 04:47] topilski commented on #95
@jjsainzc can you describe this issue?

[2019-04-23 16:37] jjsainzc commented on #95
Sorry the delay

When I connected with a base and I make a change in a server I need to
disconnect and connect to see the changes

Regards

Instructor de Lenguajes de Programacion
CEC - Escuela Politecnica Nacional

El vie., 19 de abr. de 2019 a la(s) 23:47, Alexandr Topilski (
notifications@github.com) escribió:

[2019-04-23 16:39] topilski commented on #95
What do you mean changes? in connection settings?

[2019-04-23 16:49] jjsainzc commented on #95
hey again

for example

I have a key foo

[image: Capture1.PNG]

I delete foo in server

[image: Capture3.PNG]

I reload content but the tree not refresh and I have 18 of 17 ??

[image: Capture2.PNG]

Instructor de Lenguajes de Programacion
CEC - Escuela Politecnica Nacional

LinkedIn <https://www.linkedin.com/in/jorge-sainz-a4a121b0>
GitHub (repositorio personal de codigo fuente compartido)
<http

[2019-04-23 16:50] topilski commented on #95
I can't see your images

[2019-04-23 16:51] topilski commented on #95
If you delete key via FastoRedis app tree should be refreshed

[2019-04-23 16:51] jjsainzc commented on #95
Muchos saludos
Jorge Jesus Sainz Casalla

Instructor de Lenguajes de Programacion
CEC - Escuela Politecnica Nacional

LinkedIn <https://www.linkedin.com/in/jorge-sainz-a4a121b0>
GitHub (repositorio personal de codigo fuente compartido)
<https://github.com/jjsainzc>
Intelsolec <http://www.intelsolec.net>
Videos resúmenes de clases <https://www.youtube.com/user/jjsainzc>

El mar., 23 de abr. de 2019

[2019-04-23 17:53] jjsainzc commented on #95
The server managed the keys and I need to monitoring by hand in
fastoredis,  i need that tree refresh if I reload content

Muchos saludos
Jorge Jesus Sainz Casalla

Instructor de Lenguajes de Programacion
CEC - Escuela Politecnica Nacional

LinkedIn <https://www.linkedin.com/in/jorge-sainz-a4a121b0>
GitHub (repositorio personal de codigo fuente compartido)
<https://github.com/jjsainzc>
Intelsolec

[2019-05-25 08:01] #90 closed, assigned to nobody

[2019-06-05 07:54] suzijia opened #96 "Not supported command: Unhandled value type: ."

[2019-06-07 10:42] premjeetsinghhora commented on #96
I am also facing the same issue. Not able to view value of any key.

![FastoRedis Issue](https://user-images.githubusercontent.com/15993930/59098833-0321c300-893f-11e9-86d5-4fc25ee6464c.jpg)

[2019-06-07 10:52] topilski commented on #96
I think this value available in PRO version

[2019-06-07 10:58] premjeetsinghhora commented on #96
If that's the case then it should be handled in a better way that user can understand he needs to upgrade to PRO version.

[2019-06-07 10:59] topilski commented on #96
May, be you can download pro version and check, I don't know it can be a solution.

[2019-06-07 11:16] premjeetsinghhora commented on #96
Thanks for your suggestion but I am not looking for paid versions.
I am able to find an older version of Redis Desktop Manager i.e. 0.9.3.817,  It's working free and seamlessly without any issues.

[2019-06-07 13:00] topilski commented on #96
Ok

[2019-06-27 09:43] yanliang941225 opened #97 "Delete key still shows"
Delete key still shows

[2019-08-09 03:39] niyaode opened #98 "The resource manager is still displayed when the key is deleted due to a timeout"
There is no timeout on the interface

[2019-08-09 04:02] topilski commented on #98
Hey @niyaode , can you describe your issue?

[2019-09-06 13:32] hedrickbt opened #99 "Please add re-connect support"
Currently have an environment with a load balancer to master/slaves.  Right now fastoredis isn't very happy when we fail a master and the slave gets promoted as it would require fastoredis to detect the connection issue and try to reconnect.

[2019-09-06 14:40] topilski commented on #99
Hello @hedrickbt , thank you for the issue, do you mean auto-reconnect feature?

[2019-09-10 10:36] topilski commented on #99
Ping

[2019-09-10 11:14] hedrickbt commented on #99
Yes, please.  I have a master/slave environment load balanced by F5 and when we are performing maintenance Fastoredis does not seem to handle that without locking up and having to Lille the process and restart.

Sent from my iPhone

[2019-09-10 11:21] topilski commented on #99
First of all you should use PRO version, may be as well create cluster

[2019-10-30 15:14] printfcoder opened #101 "the key set becomes zero"
[code]

[code]

[2020-01-28 06:50] pravinfere92 opened #102 "Not able to sign in fastoredis"
I have signed up in fastoredis website and tried to log in fastoredis using same credentials (This is how we can log in, as per suggestion) but not able to do so.
It is giving me an error as **sorry, can't connect to server for checking your credentials**
as attached in the screen shot.

**Note - Internet connection is there for sure.**

![fastoredis issue](https://user-images.githubusercontent.co

[2021-02-23 13:58] marymizrahi commented on #102
I have not been able to use fastoredis for months.  It's a total waste of money.

[2021-02-23 14:23] topilski commented on #102
@marymizrahi can you provide your subscription email? i will check how you paid.

[2021-02-23 14:26] marymizrahi commented on #102
mmizrahi@gosecure.net.

[2021-02-23 14:31] topilski commented on #102
Yes, you paid for 1 year, and use the application for about 9 months, more than 100 times you have started the application. Where you can't sign in?

[2021-02-23 14:31] #102 closed, assigned to topilski

[2021-02-23 14:54] marymizrahi commented on #102
That is correct.  I gave up using it months ago.  I just tried again today because I received the renewal bill.  It still does not work.

Mary

[2021-02-23 14:57] topilski commented on #102
Not reproduced, I can login

[2021-02-23 18:22] marymizrahi commented on #102
Yes, it’s working now.  You made some sort of change.
I am not renewing my subscription as I have no idea when it will break again and I have not been able to use it for months.

Mary

[2021-02-23 18:28] topilski commented on #102
Ok, np